@model IEnumerable<RandomQuotes.Data.Models.Quote>

@{
    ViewData["Title"] = "Quotes Admin";
}

<h2>Quotes Admin</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th style="min-width: 150px">
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuoteText)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuoteText)
        </td>
        <td style="width: 80px">
            <a asp-action="Edit" asp-route-id="@item.ID"><span class="glyphicon glyphicon-edit"></span></a>
            <a asp-action="Delete" asp-route-id="@item.ID"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
}
    </tbody>
</table>
